# Ignora o conteúdo das pastas, mas não os .gitkeep
youtubeDownload/audio/*
!youtubeDownload/audio/.gitkeep

youtubeDownload/video/*
!youtubeDownload/video/.gitkeep

youtubeDownload/transcript/*
!youtubeDownload/transcript/.gitkeep
youtubeDownload/nuvem/*
!youtubeDownload/nuvem/.gitkeep

__pycache__/
*.pyc
teste.py
teste_whisper.py
testevad.py
.env
teste_whisper
.vscode/
logs/