--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision 
torchaudio 
fastapi
uvicorn[standard]
python-multipart
jinja2
wordcloud
matplotlib
nltk
faster_whisper
yt-dlp
numpy
silero-vad
python-dotenv
aiofiles
transformers
pyannote.audio
hf_xet
