<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Youtube Transcriber + Nuvem de Palavras</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
</head>
<body>

  <h1>Youtube Transcriber</h1>

  <form id="transcribe-form">
    <input type="file" name="localfile" id="localfile">
    <input type="text" id="url-input" name="url" placeholder="Cole a URL do YouTube aqui" />
    <h6>Selecione o modelo Whisper:</h6>
    <select name="model" id="model">
      <option value="tiny">Tiny</option>
      <option value="base">Base</option>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large-v2">Large</option>
    </select>
    <h6>Selecione a linguagem do vídeo:</h6>
    <select name="language" id="language">
      <option value="pt">Português</option>
      <option value="en">English</option>
      <option value="none">Detectar linguagem</option>
    </select>
    <button type="submit">Transcrever</button>
  </form>

  <form id="audio-form">
    <input type="text" id="url-input-audio" name="url" placeholder="Cole URL do YouTube para áudio" required />
    <button type="submit">Gerar Áudio</button>
  </form>

  <form id="video-form">
    <input type="text" id="url-input-video" name="url" placeholder="Cole URL do YouTube para vídeo" required />
    <button type="submit">Gerar Vídeo</button>
  </form>

  <div id="timer"></div>
  <div id="result"></div>

  <h1>Gerar Nuvem de Palavras</h1>

  <form class="nuvem-form" id="nuvem-form">
    <input type="file" id="file-input" accept=".txt" required />
    <button type="submit">Gerar Nuvem</button>
  </form>

  <div id="nuvem-container"></div>

<script src="/scripts/scripts.js"></script>
</body>
</html>
